

.containerCard{
    height: 290px;
    width: 430px;
    background-color:  #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 3.86535px 17.7806px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    overflow: hidden;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
}
.containerCard img{
  height: 60%;
}
.containerCard:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  }

.cardDiv{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.cardDiv h4{
    font-weight: 800;
    font-size: 13.9153px;
    line-height: 19px;
}
.cardDiv p{
    font-weight: 400;
    font-size: 12px;

}
.serviceDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
  .pCard{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
.divTetx{
  display: flex;

}
.divPrice{
  display: flex;
  flex-direction: row;
}
.divPrice h5 {
  margin: 10px;
}

@media(max-width:480px){
  .containerCard{
    height: 300px;
    width: 250px;
  }
  .cardDiv h4{
    font-weight: 800;
    font-size: 15px;
    line-height: 15px;
}
.cardDiv{
  align-items: center;
}
.cardDiv p{
    font-weight: 400;
    font-size: 12px;

}

.divPrice h5 {
  font-size: 12px;
}

}